.country {
    &__section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
    }

    &__btn {
        display: flex;
        flex-direction: row;
        padding: 1em 2em;
        margin: 1.5em 0;
        color: var(--light-mode-text);
        background-color: var(--dark-mode-text);
        box-shadow: 0 0 10px 0 var(--light-mode-input);
        border-radius: 5px;
        border: none;
        cursor: pointer;
        transition: color .3s, background-color .3s;

        &:hover {
            color: var(--dark-mode-text);
            background-color: var(--light-mode-text);
        }

        &--text {
            margin-left: 0.5em;
        }
    }

    &__flag,
    &__info {
        width: clamp(200px, 100%, 380px);
    }

    &__flag--img {
        width: 100%;
        height: 100%;
        box-shadow: 0 0 10px 0 var(--light-mode-input);
    }

    &__info {
        font-size: 1.4rem;
    }

    &__title {
        font-size: 1.6rem;
        margin: 1em 0;
        color: var(--light-mode-text);
    }

    &__box--one {
        margin-bottom: 1.5em;
    }

    &__box--one > p,
    &__box--two > p {
        color: var(--light-mode-text);
        margin: 0.3em 0;
    }

    &__span {
        font-weight: 600;
    }

    &__border {
        margin-top: 2em;

        &--error {
            color: var(--light-mode-text);
        }

        &--title {
            font-size: 1.4rem;
            margin-bottom: 0.7em;
            color: var(--light-mode-text);
        }

        &--btn {
            color: var(--light-mode-text);
            background-color: var(--dark-mode-text);
            box-shadow: 0 0 10px 0 var(--light-mode-input);
            border-radius: 5px;
            border: none;
            padding: .6em 1.2em;
            margin: 0 .5em .5em 0;
            cursor: pointer;
            transition: color .3s, background-color .3s;

            &:hover {
                color: var(--dark-mode-text);
                background-color: var(--light-mode-text);
            }
        }
    }
}

.error {
    width: 100%;
    padding: 1em;
    background-color: yellow;

    &__text {
        font-size: 2.5rem;
        color: red;
        text-align: center;
        font-weight: bold;
    }
}

.loading-spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
    .country {
        &__section {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            margin-top: 4em;
        }

        &__flag {
            padding-right: 3em;
        }

        &__box {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 3em;

            &--one {
                margin-right: 3em;
            }
        }

        &__box--one {
            margin-bottom: 0;
        }

        &__box--one,
        &__box--two {
            width: 50%;
        }

        &__border {
            &--title {
                margin-bottom: 1em;
            }

            &--btn {
                padding: .7em 1.4em;
                margin: 0 .8em .8em 0;
            }
        }
    }
}

@media (min-width: 992px) {
    .country {
        &__section {
            justify-content: space-around;
        }

        &__title {
            font-size: 2rem;
        }

        &__info,
        &__border--title {
            font-size: 1.6rem;
        }

        &__flag,
        &__info {  
            width: clamp(200px, 100%, 500px)
        }
    }
}