<div class="card" [routerLink]="'/' + country.name.common">
    <div class="card__top">
        <img 
            [src]="country.flags.png"
            [alt]="country.flags.alt" 
            class="card__img">
    </div>
    <div class="card__bottom">
        <h3 class="card__title">{{ country.name.common }}</h3>
        <div class="card__info">
            <p class="card__text">
                <span class="card__text-detail">Population:</span> {{ country.population }}
            </p>
            <p class="card__text">
                <span class="card__text-detail">Region:</span> {{ country.region }}
            </p>
            <p class="card__text">
                <span class="card__text-detail">Capital:</span> {{ country.capital }}
            </p>
        </div>
    </div>
</div>
