.countries {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.error {
    width: 100%;
    padding: 1em;
    background-color: yellow;

    &__text {
        font-size: 2.5rem;
        color: red;
        text-align: center;
        font-weight: bold;
    }
}

.loading-spinner {
    margin: 0 auto;
}

@media (min-width: 1200px ) {
    .countries {
        justify-content: space-around;
    }
}