<section class="search">
    <div class="search__section wrapper">
        <form class="search__form">
            <div class="search__box search__box--one">
                <i class="fa-solid fa-magnifying-glass search__icon"></i>
                <input
                    type="text"
                    class="search__input" 
                    placeholder="Search for a country...">
            </div>
    
            <div class="search__box">
                <select class="search__select">
                    <option disabled selected>Filter by Region</option>
                    <option 
                        *ngFor="let continent of continentArr"
                        value="{{continent | lowercase}}" >
                        {{ continent }}
                    </option>
                </select>
            </div>
        </form>
    </div>
</section>
