<section class="search">
    <div class="search__section wrapper">
        <div class="search__input">
            <label for="country"></label>
            <input
                type="text"
                class="search__input-country" 
                id="country" 
                placeholder="Search for a country...">
        </div>

        <div class="search__input serach__input--second">
            <label for="continent"></label>
            <select class="search__input-continent" id="continent">
                <option value="" disabled selected>
                    Filter by region 
                </option>
                <option 
                    *ngFor="let continent of continentArr"
                    value="{{continent | lowercase}}" >
                    {{ continent }}
                </option>
            </select>
        </div>
    </div>
</section>
