.search {
    &__box {
        margin: 2em 0 3em;

        &--one {
            width: 100%;
            padding: 0.5em;
            background-color: var(--dark-mode-text);
            box-shadow: 1px 1px 2px 0px var(--light-mode-input);
            border-radius: 8px;
        }
    }

    &__icon {
        font-size: 1.2rem;
        margin: 0 1em 0 2em;
        color: var(--light-mode-text);
    }

    &__input {
        padding: 1em;
        border: none;
        background-color: var(--dark-mode-text);
        color: var(--light-mode-text);
    }

    &__select {
        width: 60%;
        padding: 1.2em;
        color: var(--light-mode-text);
        background-color: var(--dark-mode-text);
        box-shadow: 1px 1px 3px 0px var(--light-mode-input);
        border: none;
        border-radius: 8px;
    }
}

@media (min-width: 768px) {
    .search {
        margin-top: 2em;

        &__form {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        &__box--one {
            width: 400px;
        }

        &__input {
            width: 80%;
        }

        &__select {
            width: 200px;
        }
    }
}